* {
    padding: 0;
    margin: 0;
}
/* --------------- Centrador de Contenido --------------- */
.derecha {
    text-align: right;
}

.izquierda {
    text-align: left;
}

.abajo {
    vertical-align: text-bottom;
}

.centrado {
    text-align: center;
}
